<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="origem" class="br.com.oobj.integrador.origem.impl.LeitorDiretorio" >
		<constructor-arg name="path" value="O:/temp/xmls" />
	</bean>
	
	<bean id="destino" class="br.com.oobj.integrador.destino.impl.GravadorBancoDeDados" >
		<constructor-arg name="notaFiscalDao" ref="notaFiscalDao" />
	</bean>
	
	<bean id="notaFiscalDao" class="br.com.oobj.integrador.dao.impl.NotaFiscalSpringJDBCDAO" >
		<constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="username" value ="postgres" />
		<property name="password" value="postgres" />
		<property name="url" value="jdbc:postgresql://localhost:5433/integrador" />
	</bean>
	
</beans>
